/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* Set the background color for my page: */

body{
    background-color: #817f7f
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
    
  /* main icon bar */
  .icon-bar {
    height: 50px;
    width: 100%;
    background-color: #F47C7C;
    overflow: auto;
}

/* main icon bar */
.icon-bar a {
    float: left;
    text-align: center;
    width: 20%;
    padding: 17px 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 15px;
}

/* hovering on icon bar */
.icon-bar a:hover {
    background-color: #FAD4D4;
}
